.main-container {
    text-align: center;
    margin: 0% 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.upcomingdrives{
    flex: 0.65;
}

.main-container .upcomingdrivesheading {
    text-align: left;
    font-size: 1.3em;
    display: block;
    font-family: 'Poppins';
    font-weight: 500;
    border-bottom: 2px #00acc1 solid;
    float: none;
}

.driveinfocontainer {
    padding: 1% 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    
}

.news-container{
    flex: 0.3;
    background-color: #fafafa;

}
.news-container .news-list-container{
    
}
.news-section-heading{
    text-align: left;
    font-size: 1.3em;
    display: block;
    font-family: 'Poppins';
    font-weight: 500;
    border-bottom: 2px #00acc1 solid;
    margin-bottom: 1.5rem;
    float: none;
}

