.applied-drive-card {
    height: 180px;
    background-color: #ffffff;
    margin: 0;
    border-radius: 0px;
    padding: 0% 0% 0% 0%;
    font-family: 'Poppins';
    text-align: left;
    border-radius: 5px;
    transition-property: box-shadow;
    transition-duration: 300ms;
    display: flex;
    justify-content: space-between; 
    padding-left: 0rem;
    border-left: 10px solid #5ddef4;
    position: relative;
    padding: 0.5% 1.5% 0% 1.5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

}
.applied-drive-card button{
    align-content: center;
    width: 10rem;
    height: 2rem;
    font-family: 'Poppins';
    font-weight: 500;
    border: 0; 
    background-color: #5ddef4;
    position: absolute;
    bottom: 2rem;
    border-radius: 5px; 
    color: #424242;
    transition-property: background-color, border;
    transition-duration: 300ms;
}
.applied-drive-card button:hover{
    background-color: #54d0e0;
    border: 0;
}
.applied-drive-card:hover {
    box-shadow: 1px 1px 8px #c7c7c7;
    transform: translateY(-1px);
}

.applied-drive-card h3 {
    color: #424242;
    text-align: left;
    font-weight: 600;
    margin: 0;
    font-size: 1rem;
}
.applied-drive-card h4{
    color: #424242;
    text-align: left;
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.applied-drive-card-left{
    background-color: #ffffff; 
}
.applied-drive-card-right { 
    padding-left: 2rem;
    padding-right: 5rem;
    color: #424242;
    font-weight: 500;
    text-align: left;
    border-left: 2px solid rgba(199, 199, 199, 0.3);
}
.applied-drive-card p {
    font-size: 0.8rem;
    color: #424242;
    margin: 0rem;
}
.applied-drive-card-right p{
    font-weight: 600;
    font-size: 0.8rem;
}
.applied-drive-card .applied-drive-card-right .applied-drive-current-status{
    font-weight: 500;
    font-size: 0.8rem;

}