.company-form{
    font-family: 'Poppins';
    font-size: 0.8rem;
    background-color: #ffffff;
    padding: 1rem;
    width: 45%;
    display: inline-block;
    border-radius: 5px;
    border: 2px rgba(199, 199, 199, 0.5) solid;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.company-form .adm-card-heading{
    background-color: #54d0e0;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}
.company-form .feature{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.company-form label{
    font-size: 0.7rem;
}
.company-form input{
    padding-top: 0.3rem;
    width: 98%;
    padding-bottom: 0.3rem;
    font-family: 'Poppins';
    color: rgb(128, 128, 128);
    font-size: 0.8rem;
    display: block;
}
.company-form input:focus{ 
    color: #424242;
}
.company-form textarea{
    padding-top: 0.3rem;
    width: 98%;
    padding-bottom: 0.3rem;
    font-family: 'Poppins';
    color: rgb(128, 128, 128);
    font-size: 0.8rem;
    display: block;
    height: 4rem;
}
.company-form textarea:focus{ 
    color: #424242;
}
.company-form button{
    background-color: #5ddef4;
    border: 0;
    height: 2rem;
    width: 10rem;
    border-radius: 5px;
    font-family: 'Poppins';
    transition-property: background-color;
    transition-duration: 300ms;
    margin-top: 3rem;
}
.company-form button:hover{
    cursor: pointer;
    background-color: #54d0e0;
}
