.header {
    background-color:#fafafa;
    top: 2%; 
    display: flex;
    justify-content: space-between; 
    padding:1rem 2rem 1rem 2rem;
    border-bottom: 1.5px solid #c7c7c7;
    
}

.logo {
    display: inline-block;
    float: left;
    padding: 0 0 0 0;
}

.logo img {
    height: 50px;
}
.logotitlecontainer{
    display: flex;
}


.pctitle { 
    font-weight: 500;
    font-family: 'Poppins';
    color: rgb(31, 30, 30);
    padding: 14px 0px 0px 20px;
    margin: 0 0 0 10px;
    display: inline-block;
    text-align: center;
}

.searchbar {
    background: red;
    width: 20%;
    height: 40px;
    padding: 14px 0 0px 0;
    display: inline-block;
    text-align: center;
}

.nav {
display: flex;

}

.nav-item {
    text-align: center;
    font-size: .8rem;
    padding: 18px 20px 5px  20px;
    margin: 0;
    text-decoration: none;
    font-size: .75rem;
    font-family: 'Poppins';
    color: #424242;

}

