.header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px .5px 5px 0px black;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0;
    border-radius: 5px;
    padding: 2px 16px 2px 16px;
    
}

.logo {
    display: inline-block;
    float: left;
    padding: 0 0 0 0;
}

.logo img {
    height: 50px;
}

.pctitle {
    height: 40px;
    font-weight: 500;
    font-family: 'Poppins';
    color: rgb(31, 30, 30);
    padding: 14px 0 0px 0;
    margin: 0 0 0 10px;
    display: inline-block;
    text-align: center;
}

.searchbar {
    background: red;
    width: 20%;
    height: 40px;
    padding: 14px 0 0px 0;
    display: inline-block;
    text-align: center;
}

.nav {
    display: inline-block;
    height: 54px;
}

.nav-item {
    display: inline-block;
    text-align: center;
    height: 36px;
    font-size: .95em;
    padding: 15px 5px 0 5px;
    margin: 0 0% 0 0%;

}

.nav-item:hover {
    border-bottom: blue 3px solid;
}

.nav-item Link {
    text-decoration: none;
    font-family: 'Poppins';
    color: rgb(3, 3, 3);
}