.applicant-info-container{
    margin-bottom: 1rem;
    border-bottom: 2px solid rgba(199, 199, 199, 1);
    display: flex;
    justify-content: space-between;
}
.applicant-info-item{
display: inline-block;
width: 100%;
}
.applicant-info-item-name{
    color: rgb(26, 26, 26);
    display: inline-block;
    float: left;
}
.applicant-info-item-data{
    color: #424242;
    display: inline-block;
    float: left;
}
.applicant-info-container-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#applicant-reject-button{
    display: inline-block;
    background-color: #ff867c;
    border: 0;
    height: 2rem;
    width: 8rem;
    border-radius: 5px;
    font-family: 'Poppins';
    transition-property: background-color;
    transition-duration: 300ms;
}
#applicant-reject-button:hover {
    cursor: pointer;
    background-color: #ff6659;
}
#applicant-accept-button{
    display: inline-block;
    background-color: #7cff7c;
    border: 0;
    height: 2rem;
    width: 8rem;
    border-radius: 5px;
    font-family: 'Poppins';
    transition-property: background-color;
    transition-duration: 300ms;
}
#applicant-accept-button:hover {
    cursor: pointer;
    background-color: #5ed85e;
}
.hide-buttons{
    display:none;
}