.drive-detail-page-container{
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.drive-detail-page-container .drive-detail-heading{
    font-family: 'Poppins';
}
.drive-detail-page-container .drive-detail-info .company-name{
    font-family: 'Poppins';
    font-size: 1.3rem;
    margin-bottom: 0.8rem; 
    border-bottom: 2px #00acc1 solid;
    font-weight: 500;
}
.drive-detail-page-container .drive-detail-info .descrp{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    margin-top: 0;
}
.drive-detail-page-container .drive-detail-info .about{
    font-family: "Poppins";
    margin: 0;
    font-size: 1rem;
} 
.drive-detail-page-container .drive-detail-info button{
    background-color: #5ddef4;
    border: 0;
    border-radius: 5px;
    height: 36px;
    width: 160px;
    transition-property: background-color;
    transition-duration: 300ms;
}
.drive-detail-page-container .drive-detail-info button:hover{
    background-color: #54d0e0;
    cursor: pointer;
}