.news-card{ 
    text-align: left;
    background-color: #ffffff;  
    border-bottom: 2px solid rgba(199, 199, 199, 1); 
    transition-property: background-color;
    transition-duration: 300ms;
    background-color: #ffffff;
    padding: 1rem;
    width: 90%;
    display: inline-block;   
}
.news-card h4{
    margin: 0;
    font-family: 'Poppins';
    font-weight: 400;
    margin-top: 0.5rem; 
    color: #00acc1; 
    font-size: 1rem;
    text-decoration-line: underline;
    margin-bottom: 0.4rem;
}
.news-card .news-content{
    font-family: 'Poppins';
    font-size: 0.8rem;
    font-weight: normal;
    color: #424242;
    padding-bottom: 0.3rem;
    
} 