.driveinfo {
    width: 100%;
    height: 180px;  
    background-color: #ffffff; 
    margin: 0;
    border-radius: 0px;  
    padding: 0% 1.5% 0% 1.5%;
    font-family: 'Poppins';
    text-align: left;
    border-radius: 5px; 
    transition-property: box-shadow;
    transition-duration: 300ms;
    
}
.driveinfo:hover{
    box-shadow: 1px 1px 8px #c7c7c7;
}

.driveinfo .side-card{ 
    position: relative;  
    right: 10rem;
    float: right;
    height:100%;
    padding-left: 3rem;
    border-left: 2px solid #c7c7c7c7;
}

.driveinfo h3 {
    color: #424242;
    text-align: left;
    font-weight: 500;
}
.driveinfo h2 {
    color: #424242;
    text-align: left;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
}
.driveinfo p{
    color: #424242;
}