.driveinfo {  
    width: 100%;
    min-height: 190px;  
    background-color:    #ffffff; 
    margin: 0; 
    padding: 0.5rem 1rem 0rem 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Poppins';
    text-align: left;
    border-radius: 5px; 
    transition-property: transform, box-shadow;
    transition-duration: 300ms; 
    position: relative;
    display: flex;
    justify-content: left;
    

    
}
.driveinfo:hover{
    box-shadow: 1px 1px 8px #c7c7c7;
    transform: translateY(-1px);
}

.drive-info-left-card{
    
    display: inline-block;
    height: 100%;
    flex: .5;
}
.driveinfo .drive-info-right-card{ 
    min-height: 150px;  
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    border-left: 2px solid rgba(199, 199, 199, 0.3);
    flex: .5;

}
.driveinfo h3 {
    color: #424242;
    text-align: left;
    font-weight: 600;
    margin: 0;  
}
.driveinfo h2 {
    color: #424242;
    text-align: left;
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.driveinfo div{
    font-size: 0.8rem;
    color: #424242;
    text-align: left;
    font-family: 'Poppins';
}
.driveinfo button{
    align-content: center;
    width: 10rem;
    height: 2rem;
    font-family: 'Poppins';
    font-weight: 500;
    border: 0;
    background-color: #97ffff; 
    position: absolute;
    bottom: 1rem;
    border-radius: 5px; 
    color: #424242;
    transition-property: background-color;
    transition-duration: 300ms;
}
.driveinfo button:hover{
    background-color: #5ddef4; 
}
.driveinfo p{
    font-size: 0.8rem;
    color: #424242;
    margin: 0rem;
}
.driveinfo .last-date{
    font-size: .75rem;
    font-weight: 600;
    margin-top: 1rem;
}
.driveinfo .requirements{
    font-size: 0.8rem;
    color: #424242;
    margin: 0rem;
}