.application-page-container{
    text-align: center;
        margin: 0% 5% 0 5%;
        flex-wrap: wrap;
}
.application-page-container .application-heading{
    background-color: blueviolet;
}
.application-page-container .applied-drive-heading{
        background-color:brown;
    }