.application-page-container{
    text-align: center;
    margin: 3% 5% 0 5%;
    flex-wrap: wrap;
}
.application-page-container .application-heading{
    color: #424242;
    text-align: left;
    font-size: 1.3em;
    display: block;
    font-family: 'Poppins';
    font-weight: 600;
    border-bottom: 2px #00acc1 solid;
    float: none;
} 
.view-applications-button{
    align-content: center;
    width: 10rem;
    height: 2.5rem;
    font-family: 'Poppins';
    font-weight: 500;
    border: 0;
    background-color: #5ddef4;  
    bottom: 1rem;
    border-radius: 5px; 
    color: #424242;
    font-family: 'Poppins';
    transition-property: background-color;
    transition-duration: 300ms;
}
.view-applications-button:hover{
    cursor: pointer;
    background-color: #54d0e0;
}