.application-page-container{
    text-align: center;
    margin: 3% 5% 0 5%;
    flex-wrap: wrap;
}
.application-page-container .application-heading{
    color: #424242;
    text-align: left;
    font-size: 1.3em;
    display: block;
    font-family: 'Poppins';
    font-weight: 600;
    border-bottom: 2px #00acc1 solid;
    float: none;
} 